.email-indexes-header {
  display: flex;
  width: 100%;
  height: 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  border-bottom: 1px solid #ddd;
}

.email-indexes-header-title {
  width: calc(100% - 100px);
  height: 100%;
  padding: 20px 0px 0px 80px;
  float:left;
  color: rgb(103,103,103);
}

.email-indexes-header-filter {
  display: inline-flex;
  padding: 20px 20px 0px 0px;
  float:right;
  color: rgb(23,124,213);
 }

.email-indexes-scroll {
  height: calc(100% - 60px);
  overflow-y: scroll;
}